@font-face {
    font-family: 'Caslon Grad';
    src: url('../assets/fonts/CaslonGraD.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Caslon Grad';
    src: url('../assets/fonts/CaslonGraComD.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}




