@font-face{
    font-family: 'PlayFair Display';
    src: url('../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf')
    format("truetype");
    font-style: normal;
}

@font-face{
    font-family: 'PlayFair Display';
    src: url('../assets//fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf')
    format("truetype");
    font-style: italic;
}

@font-face {
    font-family: 'Inter Variable';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format("truetype");
    font-style: normal;
}


