@import "./breakpoints";
@import "./reset";
@import "./_typography";
@import "./variables";
@import "./fonts";

.btn{
    font-family: 'Inter Variable';
    height: 2rem;
    width: 2rem;
    background-color: gray;
    border: none;
    border-radius: 0.25rem;
}