@import '../../partials/main.scss';

.home-message{
    color: $black;
    width: 80%;
    margin: 1rem 2rem;
    &__header{
        @include mobile-subheader;
    }
    &__description{
        color: $orange;
        @include mobile-labels;
    }
}
.search-bar{
    width: 80%;
    display: flex;
    margin: 1rem 2rem;
    align-items: center;
    .search-box{
        height: 2rem;
        width: 10rem;
        border: gray 0.1rem solid;
        border-radius: 0.25rem;
        margin-right: 1rem;

    }
    .search-link{
        &__button{
            height: 2rem;
            width: 2rem;
            background-color: gray;
            border: none;
            border-radius: 0.25rem;
        }
    }
}